$primary: #E9D946;
$purpure: #8E61A5;
$gren: rgb(187 247 208);
$pink: rgb(249 168 212);
$red: #E61E43;
$yellow-light: #E9D946;
$black: #000;

$font-light: #fff;
$font-grey: #778;
$font-dark: #000;

$border-light: #fff;
$border-gre-light: #a7a7a7;
$border-grey: #444444;

$background-light: #fff;
$background-pink: rgb(249 168 212);
$background-pink-dark: rgb(244 114 182);
$background-grey-light: #eee;
$background-grey: #a7a7a7;
$background-grey-dark: #363636;
$background-dark: #151515;
$background-dark-absolute: #000;

$success: #69af00;

$box-shadow: 8px 8px 1px rgba(0,0,0,0.5);