$primary: #E9D946;
$purpure: #8E61A5;
$red: #E61E43;
$yellow-light: #E9D946;

$font-light: #fff;
$font-grey: #778;
$font-dark: #000;

$border-light: #fff;
$border-gre-light: #a7a7a7;
$border-grey: #444444;

$background-light: #fff;
$background-grey-light: #eee;
$background-grey: #a7a7a7;
$background-grey-dark: #363636;
$background-dark: #151515;
$background-dark-absolute: #000;

$success: #69af00;